<div class="nested-fields">

  <div class="field form-group col-md-8 col-md-offset-2">
  	<%= f.label "Name" %>
  	<%= f.text_field :member_name, class: "form-control" %>
  </div>
  
  <div class="field form-group text-left col-md-8 col-md-offset-2">
    <%= f.label "Member ID" %><br>
    <%= f.file_field :member_id %>
    <%= f.hidden_field :member_id_cache, :value => f.object.member_id_cache %>
  </div>  
    
  <div class="field member_id col-md-8 col-md-offset-2">
  	<% if f.object.member_id.url.present? %> 
      <%= image_tag(f.object.member_id.url) %>  
    <% end %>     	 
  </div>   

  <%= link_to_remove_association "Remove Member", f, 
  class: "btn btn-lg btn-danger remove" %>
  
</div>  
